[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
sounddevice = "*"
simpleaudio = "*"
soundfile = "*"

[dev-packages]
matplotlib = "*"
pytest = "*"


[requires]
python_version = "3.10"
